/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* Forgot-ID.html */
.forgot-id {
    top: 44px;
    width: 100%;
    min-height: 100vh;
    position: relative;
    background-color: rgb(252, 252, 252);
    padding-bottom: 10px;
    font-family: 'Poppins';
  }
  
  .forgot-id .forgot-id-container {
    width: 100%;
  }
  
  .forgot-id .forgot-id-container h2{
    width: 90%;
    margin: 0 auto;
    font-size: 20px;
    font-weight: 600;
    padding: 15px 20px;
    border-bottom: 1px solid rgb(200, 200, 200);
  }
  
  .forgot-id .forgot-id-container .forgot-id-container-form {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }
  
  .forgot-id .forgot-id-container .forgot-id-container-form h1{
    padding: 30px 0;
    font-size: 25px;
    font-weight: 800;
    text-align: center;
  }
  
  .forgot-id .forgot-id-container .forgot-id-container-form .input-field {
    max-width: 500px;
    width: 100%;
    background-color: rgb(255, 2535, 255);
    border: 1px solid rgb(235, 235, 235);
    margin: 15px auto;
    height: 55px;
    border-radius: 12px;
    display: grid;
    grid-template-columns: 15% 85%;
    position: relative;
  }
  
  .forgot-id .forgot-id-container .forgot-id-container-form .input-field i {
    text-align: center;
    line-height: 55px;
    color: rgb(200, 200, 200);
    transition: 0.5s;
    font-size: 1.1rem;
  }
  
  .forgot-id .forgot-id-container .forgot-id-container-form .input-field input, 
  .forgot-id .forgot-id-container .forgot-id-container-form .input-field input,
  .forgot-id .forgot-id-container .forgot-id-container-form .input-field input {
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    color: rgb(75, 75, 75);
  }
  
  .forgot-id .forgot-id-container .forgot-id-container-form .input-field .input-forgot-id-lastname, 
  .forgot-id .forgot-id-container .forgot-id-container-form .input-field .input-forgot-id-firstname, 
  .forgot-id .forgot-id-container .forgot-id-container-form .input-field .input-forgot-id-email {
    color: rgb(160, 160, 160);
    font-size: 22px;
    position: absolute;
    padding-left: 13px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: none;
  }
  
  .forgot-id .forgot-id-container .forgot-id-container-form .input-field .input-forgot-id-lastname:hover, 
  .forgot-id .forgot-id-container .forgot-id-container-form .input-field .input-forgot-id-firstname:hover, 
  .forgot-id .forgot-id-container .forgot-id-container-form .input-field .input-forgot-id-email:hover {
    width: 102%;
    height: 112%;
    margin-left: -4px;
    margin-top: -4px;
    border: 3px solid #f7b75f;
    border-radius: 16px;
  }
  
  .forgot-id .forgot-id-container .forgot-id-container-form .input-field .label-forgot-id-lastname, 
  .forgot-id .forgot-id-container .forgot-id-container-form .input-field .label-forgot-id-firstname, 
  .forgot-id .forgot-id-container .forgot-id-container-form .input-field .label-forgot-id-email {
    font-size: 20px;
    font-weight: 500;
    color: rgb(150, 150, 150);
    position: absolute;
    top: 12px;
    left: 13px;
    cursor: none;
    transition: all 0.5s ease;
  }
  
  .forgot-id .forgot-id-container .forgot-id-container-form .input-field .input-forgot-id-lastname.active, 
  .forgot-id .forgot-id-container .forgot-id-container-form .input-field .input-forgot-id-firstname.active, 
  .forgot-id .forgot-id-container .forgot-id-container-form .input-field .input-forgot-id-email.active {
    width: 98%;
    height: 82%;
    margin-left: 4px;
    margin-top: 5px;
    border: 2px solid #ff8800;
    border-radius: 8px;
  }
  
  .forgot-id .forgot-id-container .forgot-id-container-form .input-field .label-forgot-id-lastname.active, 
  .forgot-id .forgot-id-container .forgot-id-container-form .input-field .label-forgot-id-firstname.active, 
  .forgot-id .forgot-id-container .forgot-id-container-form .input-field .label-forgot-id-email.active {
    font-size: 8px;
    height: 15px;
    padding: 0 10px;
    top: 0;
    left: 20px;
    color: #ff8800;
    background: rgb(255, 255, 255);
  }
  
  .forgot-id .forgot-id-container .forgot-id-container-form .forgot-id {
    padding: 15px 0;
    font-size: 15px;
  }
  
  .forgot-id .forgot-id-container .forgot-id-container-form p a {
    text-decoration:none;
    color: #fca11f;
    cursor: pointer;
  }
  
  .forgot-id .forgot-id-container .forgot-id-container-form p a:hover {
    color: #ff8800;
  }
  
  .forgot-id .forgot-id-container .forgot-id-container-form .forgot-id-continue-btn {
    min-width: 130px;
    height: 40px;
    font-family: 'Poppins';
    font-weight: 500;
    background: #ff8800;
    color: rgb(252, 252, 252);
    font-size: 16px;
    border-radius: 12px;
    border: 0 ;
    cursor: pointer;
    margin: 30px auto;
  }
  
  .forgot-id .forgot-id-container .forgot-id-container-form .forgot-id-continue-btn.active {
    background: #ff8800;
    opacity: 0.4;
    cursor: none;
  }
  
  @media (max-width:1024px) {
    .forgot-id {
      top: 48px;
    }
  
  }
  /* Forgot-ID.html */
  /*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
  