/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.pages-title {
    top: 44px;
    position: relative;
    padding: 15px 5vw;
    border-bottom: 1px solid rgb(200, 200, 200);
}

.pages-title .pages-header {
    width: 96%;
    margin: 0 auto;
    margin-left: 5%;
    font-size: clamp(20px, 3vw, 25px);
    font-weight: 800;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
