/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

.side-scroll {
    position: relative;
    top: 44px;
    padding-top: 15px;
    border-top: 2.3px solid rgb(255, 163, 0, 0.95);
    border-bottom: 2.3px solid rgb(255, 163, 0, 0.95);
}

.side-scroll .product {
    position: relative;
    overflow: hidden;
    padding-top: 10px;
    height: 480px;
}

.product-container {
    height: 418px;
}

.side-scroll .product .product-category {
    width: 85%;
    margin: 0 auto;
    padding: 0 10vw;
    font-size: clamp(10px, 5vw, 30px);
    font-family: 'Exo', sans-serif;
    color: rgb(35, 35, 35, 0.9);
    font-weight: 600;
    margin-bottom: 10px;
    text-transform: capitalize;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1.3px solid rgb(220, 220, 220);
}


.side-scroll .product-container {
    padding-left: 4vw;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.side-scroll .product-container::-webkit-scrollbar {
    display: none;
}

.side-scroll .product .left-btn {
    left: 0;
    background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, rgb(250, 250, 250) 100%);
}

.side-scroll .product .right-btn {
    right: 0;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgb(250, 250, 250) 100%);
}

.side-scroll .product .left-btn,
.side-scroll .product .right-btn {
    height: 100%;
    width: 5vw;
    display: flex;
    position: absolute;
    z-index: 100;
    cursor: pointer;
    transition: 0.2s;
    opacity: 0.35;
    border: none;
    top: 0;
    justify-content: center;
    align-items: center;
}

.side-scroll .product .left-btn:hover,
.side-scroll .product .right-btn:hover {
    opacity: 1;
}

.side-scroll .product .left-btn:hover .left-btn-img,
.side-scroll .product .right-btn:hover .right-btn-img {
    opacity: 1;
}

.side-scroll .product .left-btn .left-btn-img {
    background: url('../images/side-scroll/tools/chevron-left_black.svg');
}

.side-scroll .product .right-btn .right-btn-img {
    background: url('../images/side-scroll/tools/chevron-right_black.svg');
}

.side-scroll .product .left-btn .left-btn-img,
.side-scroll .product .right-btn .right-btn-img {
    display: block;
    background-position: center;
    background-size: clamp(18px, 10vw, 23px);
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    opacity: 0;
}

@media (max-width: 1025px) {


    .side-scroll .product {
        height: 425px;
    }

    .side-scroll .product .left-btn,
    .side-scroll .product .right-btn {
        opacity: 1;
    }

    .side-scroll .product .left-btn .left-btn-img,
    .side-scroll .product .right-btn .right-btn-img {
        opacity: 1;
    }

    .product-container {
        height: 360px;
    }
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/